<h1><%=@property.property + " unit progress "%></h1>
<div clas="inspections-container">
  <div class="manager-inspection-col-name">Unit number</div>
  <div class="manager-inspection-col-name">Components</div>
	<div class="manager-inspection-col-name">New Countertop</div>
	<div class="manager-inspection-col-name">Flooring</div>
	<div class="manager-inspection-col-name">Appliances</div>
	<div class="manager-inspection-col-name">Paint</div>
	<div class="manager-inspection-col-name">Rent Ready</div>
	<div class="manager-inspection-col-name">Pictures</div>
  <div class="manager-inspection-col-name">Covenant Comments</div>

	<% @units.each do |unit| %>
		<div class="single-inspection">
		<%= render 'form', :@manager_inspection => unit %>
		</div>
	<% end %>
</div>
<script>manager_inspection_scripts()</script>
