<h1>Compare Inspections</h1>
	<h2 class="compare-left">
		Unit Number
	</h2>
	<h2 class="compare-middle">
		Inspection
	</h2>
	<h2 class="compare-right">
		Manager Inspection
	</h2>
	<br>
	<br>
	<% @stack.each do |unit| %>
		<div class="compare-right">
			<%= unit.pop[:unit_number] %>
		</div>
		<div class="compare-middle">
			<%= unit.pop[:unit_number] %>
		</div>
		<div class="compare-left">
			<%= unit.pop %>
		</div>
		<br>
	<% end %>