<h1>Choose Property to Compare Inspection Status</h1>


    <% @properties.each do |property| %>
		<%= link_to property.property, compare_property_path(property)%><br>
    <% end %>

<br>

<%= link_to 'New Property', new_property_path %>
