// Place all the styles related to the manager_inspections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.manager_inspection{
	display: inline;
	margin: 10px;
}

.single-inspection{
	margin-top: 3px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ie-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}

.single-inspection:hover{
	background-color: lightblue;
};

.inspections-container{
	display:inline-block;
	overflow: scroll;
	white-space: nowrap;
}

button{
	-webkit-transition: background-color .75s;
}

.pending{
	background-color: yellow;
}

.updated{
	background-color: green;
}