// Place all the styles related to the Properties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mismatch{
	background-color:red;
}

.no-inspection{
	background-color: yellow;
}

.matches{
	background-color: green;
}

.compare{
	overflow: auto;
  -webkit-transition: all 1s;
     -moz-transition: all 1s;
      -ie-transition: all 1s;
       -o-transition: all 1s;
          transition: all 1s;
		border: 1px black dotted;
}

.compare:hover{
	background-color:lightgreen;
}

.compare-right{
	float:left;
	width:40%;
}

.compare-middle{
	float:left;
	width: 40%;
}

.compare-left{
	float:left;
	width:10%;
}